<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Type of business:</strong>
  <%= @business.type_of_business %>
</p>

<p>
  <strong>Halal:</strong>
  <%= @business.halal %>
</p>

<p>
  <strong>District:</strong>
  <%= @business.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Coordinate:</strong>
  <%= @business.coordinate %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
