  <div class="main">
    <div class="cd-section" id="headers">
      <!--     *********     HEADER 2      *********      -->
      <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('./assets/img/examples/Slider-BG-1.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title"> Active Quest</h1>
                <h4>Our Quest List</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END HEADER 2      *********      -->
    </div>
    <!--     *********    PROJECTS 2     *********      -->
    <div class="projects-2" id="projects-2">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h6 class="text-muted">Quest</h6>
            <h2 class="title">Our Awesome Quests</h2>
            <h5 class="description">Description for quests</h5>
            <div class="section-space"></div>
          </div>
        </div>
        <div class="row">
          <% @quests.each do |quest| %>
          <div class="col-md-6">
            <div class="card card-plain quest-section">
              <div class="card-header card-header-image">
                <% :ruby
                     deal = quest.deal
                %>
                <% if deal.present? && deal.cover_photo.attached? %>
                  <%= image_tag deal.cover_photo %>
                <% else %>
                  <img class="img" src="../assets/img/card-2.jpg">
                <% end %>
              </div>
              <div class="card-body ">
                <h3 class="card-title"><%= quest.title || "NA" %></h3>
                <h6 class="card-deal"><%= deal.try(:name).present? ? "#{deal.name} at #{deal.user.username}" : "NA" %></h6>
                <h6 class="card-location"><i class='material-icons material-quest-icons' >explore</i><%= quest.get_locations_name || "NA" %></h6>
                <h6 class="card-coupon"><i class='material-icons material-quest-icons'>loyalty</i><%= coupons_left(deal) %></h6>
                <h6 class="card-deal-expire"><i class='material-icons material-quest-icons'>access_time</i><%= deal_expires_in_words(deal) %></h6>
                  
                <div class="action">
                  <%= link_to "INFO", public_quest_path(quest), class: "btn btn-sm pull-right btn-primary" %>
                </div>
                <div class="text-left">
                    <a href="https://fb.me/getupexplore">
                        <%= image_tag("send.svg", class: "navbar-brand", style: "height: 35px;") %>
                    </a>
                    <a href="#"> <%= image_tag("share.svg", class: "navbar-brand", style: "height: 52px;") %> <a>
                    <a href="https://twitter.com/GetUp65939149">
                        <%= image_tag("bookmark.svg", class: "navbar-brand", style: "height: 52px;") %>
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <% end %>
          
        </div>
      </div>
    </div>
    <!--     *********    END PROJECTS 2      *********      -->
  </div>