          <% content_for :breadcrumb do %>
            List of Deals
          <% end %>
          <div class="row">
            <% if notice %>
            <div class="col-md-12">
              <div class="alert alert-success">
                <%= notice %>
              </div>
            </div>
            <% end %>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">place</i>
                  </div>
                  <h4 class="card-title">Deals</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="material-datatables">
                    <table id="deals-request-table" class="table table-striped table-no-bordered table-hover nowrap" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Image</th>
                          <th>Name</th>
                          <th>Posted Date</th>
                          <th>Expiry Date</th>
                          <th>Description</th>
                          <th>Owner</th>
                          <th>Coupon Issued</th>
                          <th>Status</th>
                          <th class="disabled-sorting text-right">Actions</th>
                          <th>Approve</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>Image</th>
                          <th>Name</th>
                          <th>Posted Date</th>
                          <th>Expiry Date</th>
                          <th>Description</th>
                          <th>Owner</th>
                          <th>Coupon Issued</th>
                          <th>Status</th>
                          <th class="disabled-sorting text-right">Actions</th>
                          <th>Approve</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @deals.each do |deal| %>
                          <tr id="request-<%= deal.id.to_s %>">
                            <td><%= deal.id %></td>
                            <td>
                              <% if deal.cover_photo.attached? %>
                                <%= image_tag(deal.cover_photo, class: "list-image") %>
                              <% else %>
                                <%= image_tag("https://via.placeholder.com/150x150", class: "list-image") %>
                              <% end %>
                            </td>
                            <td><%= deal.name %></td>
                            <td><%= deal.posted_date.try(:strftime, '%d-%b-%Y') %></td>
                            <td><%= deal.expiry_date.try(:strftime, '%d-%b-%Y') %></td>
                            <td><%= deal.description %></td>
                            <td><%= deal.user.username %></td>
                            <td><%= deal.coupon_count %></td>
                            <td><%= deal.status %></td>
                            <td class="text-right">
                              <%= link_to admin_deal_path(deal), class: "btn btn-link btn-info btn-just-icon like" do %>
                                <i class="material-icons">pageview</i>
                              <% end %>
                              <%= link_to edit_admin_deal_path(deal), class: "btn btn-link btn-warning btn-just-icon edit" do %>
                                <i class="material-icons">dvr</i>
                              <% end %>
                              <%= link_to admin_deal_path(deal), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link btn-danger btn-just-icon remove", authenticity_token: true do %>
                                <i class="material-icons">close</i>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to "Approve", approve_admin_deal_path(deal.id), class: "btn btn-green btn-sm" %>
                            </td>
                          </tr>
                        <% end %>
                        
                        
                      </tbody>
                      
                    </table>
                  </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          
          <script>
            $(document).ready(function() {
                $('#deals-request-table').DataTable( {
                    "scrollX": true
                } );
            } );
            </script>